__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

.venv/
venv/
env/
.env

.ipynb_checkpoints/

data/*.csv
data/*.zip
data/*.parquet

models/*.pkl
models/*.joblib

reports/figures/*.png
reports/figures/*.svg

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

.kaggle/
*.log
